<html lang="en">

<head>
    <title><%= title %></title>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <!-- Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
<div id="logo" class="container">
    <div class="row" style="margin: 2em 0">
        <div class="col-md-4">
            <img src="images/logo.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
<div class="container">
    <h3>Jam competition</h3>
    <ul>
        <li>The winner will get their prize when the winner of the game jam has been announced</li>
        <li>Cheated scores <b>are not</b> eligible</li>
        <li>Min-maxed scores using the raw data <b>are</b> however eligible</li>
        <li>The leaderboard only shows up to two decimal points, but the backend saves up to six decimal points. In case of a tie, the backend score will be used.</li>
        <li>In case two identical jams win, the first one submitted will win.</li>
        <li>In case the winner can't be found, the second-highest scoring jam will win</li>
        <li>pls use normal usernames</li>
    </ul>

</div>
</body>